PORT=5000
NODE_ENV=development
JWT_SECRET=taskflow_jwt_secret_key_violet_2026
CLIENT_URL=http://localhost:5173
DATABASE_URL="postgresql://neondb_owner:npg_IvNUSbqLoA94@ep-soft-grass-az43tnyx-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
